body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  display: grid;
}

.Header{
  background-color: grey;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Article{
  background-color: blanchedalmond;
}

.Question{
  background-color: blanchedalmond;
}

.Center{
  display: flex;
  align-items: center;
  justify-content: center;
}

input{
  margin-left: 15px;
  font-family: 'Courier New', Courier, monospace;
}

button{
  border: none;
  background-color: grey;
  padding: 10px;
  width: 75px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}